# systemd unit file for realtime calibration service

[Unit]

Description=Calibration Service

[Service]

# Command to execute when service started
WorkingDirectory=/home/ubuntu/servicewd/
ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/python /home/ubuntu/proj/dsa110-shell/dsa110-calib/services/realtime_calibration.py

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
