# systemd unit file for calibration preprocessing service

[Unit]

Description=Calibration Preprocessing Service

[Service]

# Command to execute when service started
WorkingDirectory=/home/user/servicewd/
ExecStart=/home/user/anaconda3/envs/casa/bin/python /home/user/proj/dsa110-shell/dsa110-calib/services/preprocess_service.py

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
