# systemd unit file for calibration preprocessing service

[Unit]

Description=Dask worker

[Service]

# Command to execute when service started
ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/dask-worker 10.42.0.232:8786 --memory-limit 10GB --nworkers 4 --nthreads 1
ExecStop=/bin/true

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
