[Unit]
Description=Dask Worker Service

[Service]
Type=simple
ExecStart=/home/claw/anaconda3/envs/py37/bin/dask-worker 127.0.0.1:8786
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target