# systemd unit file for calibration preprocessing service

[Unit]

Description=statusmon update

[Service]

# Command to execute when service started
ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/dsamon run-status-loop

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/ubuntu/.config/systemd/user/environment.conf

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
