# systemd unit file for calibration preprocessing service

[Unit]

Description=T1/T2 Copy Service

[Service]

# Command to execute when service started
ExecStart=/home/user/anaconda3/envs/casa/bin/python /mnt/data/dsa110/T3/scripts/run_rsync.py

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
